.Dropdown{
	background-color: #1BC5BD;
	color: #FFFFFF; 
	border: none;
	border-radius: 5px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding: 10px 15px 10px 10px;
}