.ProjectHeading {
	background-color: #FFF;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 24px;
	border-radius: 10px;
}

.ProjectName {
	color: #011F4B;
	font-weight: 700;
	font-size: 16px;
}

.ProjectAmount {
	font-weight: 700;
	font-size: 16px;
	color: #011F4B;
}

.ReportsTable {
	width: 100%;
	background-color: #F1FAFE;
}

.ReportsTableRowFirst {
	text-align: left;
}

.ReportsTableRowLast {
	text-align: right;
	margin-right: 24px;
}

.TotalSum{
	display: block;
	text-align: left;
	width: 100%;
	margin-top: 20px;
	background-color: #F1FAFE;
	border-radius: 10px;
	padding: 20px 0px 20px 20px;
	color: #011F4B;
	font-weight: 700;
}

.ReportsTableHeading {
	background-color: #FFF;
}

.ReportsWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
	padding: 0px 10px 40px 10px;
	background-color: #F1FAFE;
}

.ReportsTitle{
	font-size: 1em;
	text-align: left;
	color: #011F4B;
}

table{
	font-weight: 400;
	color: #011F4B;
}

table tr:nth-child(2n) {
	background-color: #FFF;
}

tbody {
	margin-top: 10px;
}

td {
	padding: 5px 24px;
}

th {
	padding: 5px 20px;

}