.ReportsPage {
	margin: 0 100px;
	/* width: 100%; */
}

.ReportsTopWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.ReportsFilterWrapper {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.ReportsGenerateButton {
	background-color: #005B96;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding: 10px;
}

.ReportsHeading {
	display: inline;
	margin: 0;
	color: #011F4B;
	font-weight: 700;
}

.ReportsText {
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #7E8299;
}

.ReportsInfo{
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-bottom: 35px;
}