.ReportsPage {
	margin: 0 100px;
	width: 100%;
}

.ReportsTopWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.ReportsFilterWrapper {
	display: flex;
	flex-direction: row;
	gap: 40px;
}

.ReportsGenerateButton{
	background-color: #005B96;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	height: fit-content;
	padding: 10px;
}