.ReportsContainer{
	background-color: #777;
}

.ReportsChartWrapper{
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	justify-content: space-between;
	gap: 30px;
}

.ReportsChartWrapper{
	/* width: 50%; */
}

.ReportsTableWrapper{
	width: 50%;
	background-color: #F1FAFE;
	padding: 30px 25px;
}

.selectedOptionText{
	text-align: left;
	font-weight: 700;
	margin-top: 20px;
}
