.ReportsContainer{
	background-color: #777;
}

.ReportsChartWrapper{
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	justify-content: space-between;
}

.ReportsChartWrapper{
	/* width: 50%; */
}

.ReportsTableWrapper{
	width: 50%;
}